
@font-face {
  font-family: 'NoeDisplay-Bold';
  src: url('../fonts/NoeDisplay-Bold.woff2') format('woff2'),
     url('../fonts/NoeDisplay-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit-Light';
  src: url('../fonts/Larsseit-Light.woff2') format('woff2'),
     url('../fonts/Larsseit-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit-Regular';
  src: url('../fonts/Larsseit-Regular.woff2') format('woff2'),
     url('../fonts/Larsseit-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Larsseit-Bold';
  src: url('../fonts/Larsseit-Bold.woff2') format('woff2'),
     url('../fonts/Larsseit-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}