
%noe-700{
  font-family: 'NoeDisplay-Bold';
  font-weight: 700;
}
%lar-300{
  font-family: 'Larsseit-Light';
  font-weight: 300;
}
%lar-400{
  font-family: 'Larsseit-Regular';
  font-weight: 400;
}
%lar-700{
  font-family: 'Larsseit-Bold';
  font-weight: 700;
}